div{
    text-align:center;
    color:yellowgreen;
}

body{
    background-image:url(blackish.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height:100%
}
h1,h3{
    color:white
}


a:hover{
    color:yellow;
    font-size: 20
}
a:visited{
    color:yellow
}
