div{
    text-align:center;
    color:yellowgreen;
    font-size:30;
    font-style:italic;
    font-family:cursive
}

body{
    background-image:url(blackish.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h3{
    color:white
}


a:hover{
    background-color:green
}
a:visited{
    color:yellow
}
