body{
    
}
#first{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
  
}
div>div{
    
    padding:100;
    width:33%;
    box-sizing:border-box
}
h1,#sec{
    background:rgb(10,200,10);
    height:80px;
    margin:0;
    text-indent:40;
    color:aquamarine
}
@media(max-width:800px){
    #first{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
        
  
}
    div>div{
        background:yellow;
        width:100%;
        padding:11
        
    }
}
